.main-container {
	padding: 0 var(--lg-margin);
}

.cards-container {
	place-items: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
	gap: 12px;
}

.product-card {
	width: 186px;
}

.product-card img {
	width: 186px;
	height: 186px;
	border-radius: 20px;
	object-fit: cover;
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-info figure {
	margin: 0;
}
.product-info div p:nth-child(1) {
	font-weight: bold;
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
	font-size: var(--sm);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}

.product-info figure img {
	width: 36px;
	height: 36px;
}

@media (max-width: 1022px) {
	.main-container {
		padding: 0;
	}

	.cards-container {
        place-content: center;
		grid-template-columns: repeat(auto-fill, 163px);
	}

	.product-card {
		width: 163px;
	}

	.product-card img {
		width: 163px;
		height: 163px;
	}
}
